extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 SHARDLY ROMELUS


        p.lead.text-light
          | Full Stack JavaScript Developer.


        .portfolio-bio
          p.text-light
            |  My name is Shardly, I live in Boston, MA. I've been coding since 2017. I started coding mostly as a hobby using vanila javascript and ruby to build simple command line applications that were really cool to me at the time.
            |  In late 2018, I dove deeper into coding I wanted to know more about websites and how the web works. In early 2019, I attended a bootcamp that hepled further developed my skillset as a developer.  
            |  This portfolio showcase some of the projects that I have built and some that are currently in the works. Please take some time to review my projects and don't hesitate to reach out.
            |  I am always curious to know more about the industry and willing to know new innovative ways to write better and more efficient software.
  
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Sinatra
          li Rails
          li React
          li JQuery 
          li Unit test
        h6 Contact Info

      
        ul
          li 239-200-3559
          li rshardlypicard89@gmail.com

      
        a.button.expanded(href='https://www.linkedin.com/in/shardlyromelus/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/sromelus' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
