extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  .medium-text-center
    h1= error.message + " (" + error.status + ")" 
    p.text-light
      | The requested URL was not found on this server.
    p.text-light
      | Please use the back button to navigate to the home page.
