extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Projects

      p.lead.text-light
        | Hi, my name is Shardly Romelus. I am a Full Stack Web Developer. I invite you to take a look below at some of the projects
        | that I have built. Thank you for taking the time to look through my portfolio.</br>
        a(href='/static/media/Shardly Romelus Resume.pdf', style='margin-top: 16px; margin-bottom: 0;').button.resume-button  My Resume
        a(href='/about').about  More About Me →
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      //- loop through the projects array and display each project
      each project in projects
        .cell
            a(href=`/projects/${project.id}`)
              img.thumbnail.project-small-card(src=`/static/${project.image_urls[0]}`)
              h5= project.project_name
      
