extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Projects

      p.lead.text-light
        | Hi, my name is Shardly Romelus. I am a full stack web developer. I invite you to take a look below at some of the applications
        | that I have built. </br>
        a(href='/about').about  More About Me →
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      //- loop through the projects array and display each project
      each project in projects
        .cell
            a(href=`/projects/${project.id}`)
              img.thumbnail( style='width: 250px; height: 170px;' src=`/static/${project.image_urls[0]}`)
              h5= project.project_name
      
